# TEF permanece desabilitado por padrao.
TEF_ENABLED=false
TEF_AGENT_URL=http://127.0.0.1:8766
TEF_AGENT_TOKEN=CHANGE_ME
TEF_AGENT_TIMEOUT_MS=5000
TEF_DEFAULT_TERMINAL_ID=PPC930-FOOD-01
# Somente depois de homologacao:
# PAYMENT_PROVIDER_DEBIT=tef
# PAYMENT_PROVIDER_CREDIT=tef
