# TEF permanece desabilitado por padrao.
TEF_ENABLED=false
# Se o tef_agent rodar NATIVAMENTE no mesmo host Linux do Docker:
# TEF_AGENT_URL=http://host.docker.internal:8766
# Se rodar em outro computador (ex.: Windows do PPC930), use o IP LAN desse computador:
# TEF_AGENT_URL=http://192.168.x.x:8766
TEF_AGENT_URL=
TEF_AGENT_TOKEN=CHANGE_ME
TEF_AGENT_TIMEOUT_MS=5000
TEF_DEFAULT_TERMINAL_ID=PPC930-FOOD-01
# Somente depois de homologacao:
# PAYMENT_PROVIDER_DEBIT=tef
# PAYMENT_PROVIDER_CREDIT=tef
