TEF_AGENT_HOST=127.0.0.1
TEF_AGENT_PORT=8766
TEF_AGENT_TOKEN=CHANGE_ME
TEF_DB_PATH=./data/tef_agent.sqlite3
TEF_DRIVER=mock
TEF_DEFAULT_TERMINAL_ID=PPC930-FOOD-01
TEF_REAL_PAYMENTS_ENABLED=false
# SITEF_LIBRARY=C:\caminho\CliSiTef.dll
# SITEF_LIBRARY=/opt/sitef/libCliSiTef.so
